In [32]:
# Import Package
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

# TransactionEncoder is not necessary, since pd.get_dummies returns a dataframe with value 1 / 0
# from mlxtend.preprocessing import TransactionEncoder

## 讓DataFrame 能呈現的寬度大一點
pd.options.display.max_colwidth = 200

data = pd.read_csv("./hw1_data/customer.csv")
features = [
    'state_province',
    'yearly_income',
    'gender',
    'total_children',
    'num_children_at_home',
    'education',
    'occupation',
    'houseowner',
    'num_cars_owned'
]

df = pd.get_dummies(data[features], columns=features)

In [33]:
apriori_items = apriori(df, min_support=0.05, use_colnames = True)
apriori_items

,support,itemsets
0,0.167007,(state_province_BC)
1,0.410660,(state_province_CA)
2,0.102227,(state_province_OR)
3,0.202899,(state_province_WA)
4,0.216127,(yearly_income_$10K - $30K)
...,...,...
623,0.058068,"(houseowner_Y, gender_M, num_children_at_home_0, occupation_Professional)"
624,0.052427,"(houseowner_Y, num_cars_owned_2, num_children_at_home_0, gender_M)"
625,0.053108,"(houseowner_Y, education_Bachelors Degree, occupation_Professional, gender_M)"
626,0.061375,"(education_Bachelors Degree, houseowner_N, num_children_at_home_0, occupation_Professional)"
627,0.055053,"(houseowner_Y, education_Bachelors Degree, num_children_at_home_0, occupation_Professional)"

In [35]:
rules = association_rules(apriori_items, metric = 'confidence', min_threshold=0.9)
rules = rules.sort_values(['confidence', 'support'],ascending=False)
rules.head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2,(total_children_0),(num_children_at_home_0),0.100963,0.628052,0.100963,1.000000,1.592225,0.037553,inf
19,"(houseowner_Y, total_children_0)",(num_children_at_home_0),0.061278,0.628052,0.061278,1.000000,1.592225,0.022792,inf
1,(num_cars_owned_0),(yearly_income_$10K - $30K),0.057096,0.216127,0.057096,1.000000,4.626913,0.044756,inf
18,"(total_children_0, gender_M)",(num_children_at_home_0),0.054178,0.628052,0.054178,1.000000,1.592225,0.020151,inf
13,"(num_cars_owned_0, education_Partial High School)",(yearly_income_$10K - $30K),0.052719,0.216127,0.052719,1.000000,4.626913,0.041325,inf
28,"(yearly_income_$10K - $30K, occupation_Manual, num_children_at_home_0)",(education_Partial High School),0.067017,0.300943,0.064974,0.969521,3.221605,0.044806,22.935711
33,"(yearly_income_$10K - $30K, occupation_Manual, houseowner_Y)",(education_Partial High School),0.061959,0.300943,0.060014,0.968603,3.218554,0.041367,22.264950
22,"(yearly_income_$10K - $30K, gender_F, occupation_Manual)",(education_Partial High School),0.051746,0.300943,0.050092,0.968045,3.216701,0.034520,21.876357
8,"(yearly_income_$10K - $30K, occupation_Manual)",(education_Partial High School),0.105145,0.300943,0.101449,0.964847,3.206075,0.069806,19.886318
34,"(occupation_Skilled Manual, houseowner_Y, yearly_income_$10K - $30K)",(education_Partial High School),0.057679,0.300943,0.055637,0.964587,3.205209,0.038278,19.740024